[Desktop Entry]
Type=Service
Actions=open;
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ]

[Desktop Action open]
Exec=ftpt --import "%f"
Icon=ftpt
Name=Import Photos with Photo Tool
Name[zh_CN]=用 Photo Tool 导入照片
